body {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.65;
  word-break: break-word;
  font-kerning: auto;
  font-variant: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  hyphens: auto;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

#home {
  display: flex;
  align-items: center;
  background-color: #EAEBEE;
}

@media (max-width: 912px) {
  #home {
    flex-direction: column;
    justify-content: center;
  }
}